<h1>List of Works</h2>

<main>

  <h2>Albums</h2>

<table class="table">
    <thead>
      <tr>
        <th>Votes &nbsp; &nbsp; &nbsp;</th>
        <th>Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Upvote</th>
      </tr>
    </thead>
    <tbody>
     <% @albums.each do |album| %>
       <tr>
          <td>
            Votes
          </td>
          <td>
            <%= album.title %>
          </td>
          <td>
            <%= album.creator %>
          </td>
          <td>
            <%= album.publication_year %>
          </td>
          <td>
            Upvote
          </td>
        </tr>
        <% end %>
    </tbody>
</table>

  <h2>Books</h2>

<table class="table">
    <thead>
      <tr>
        <th>Votes &nbsp; &nbsp; &nbsp;</th>
        <th>Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Upvote</th>
      </tr>
    </thead>
    <tbody>
     <% @books.each do |book| %>
       <tr>
          <td>
            Votes
          </td>
          <td>
            <%= book.title %>
          </td>
          <td>
            <%= book.creator %>
          </td>
          <td>
            <%= book.publication_year %>
          </td>
          <td>
            Upvote
          </td>
        </tr>
        <% end %>
    </tbody>
</table>


  <h2>Movies</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Votes &nbsp; &nbsp; &nbsp;</th>
        <th>Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Upvote</th>
      </tr>
    </thead>
    <tbody>
     <% @movies.each do |movie| %>
       <tr>
          <td>
            Votes
          </td>
          <td>
            <%= movie.title %>
          </td>
          <td>
            <%= movie.creator %>
          </td>
          <td>
            <%= movie.publication_year %>
          </td>
          <td>
            Upvote
          </td>
        </tr>
        <% end %>
    </tbody>
</table>

</main>